.style-button {
  border-radius: 0 !important;
}

.address-container {
  border-bottom: solid 1px grey;
}

.description-details {
  overflow-wrap: break-word;
}

.container-carousel-model {
  width: 100%;
  position: relative;
}

.carousel-model {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.cursor-hand {
  cursor: pointer;
}

.carousel-inner {
  height: 100% !important;
}

.banners-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.position-image {
  background-size: cover !important;
  background-position: center !important;
}

.image-model-background-4 {
  @extend .banners-div;
  @extend .position-image;
  background-image: url("https://cyt-media.s3.amazonaws.com/img_casas/5a98f040-3c50-4209-8b78-e8954499cd6d-Departamentos-Renta-Providencia-4a-Secc-Guadalajara-Jalisco-3350079.jpg");
}

.image-model-4-background-2 {
  @extend .banners-div;
  @extend .position-image;
  background-image: url("https://static-mx.lamudi.com/static/media/bm9uZS9ub25l/10000x10000/388dc2a3237142.jpg");
}

.image-model-4-background-3 {
  @extend .banners-div;
  @extend .position-image;
  background-image: url("https://images1.forrent.com/i2/YD6cKZ2iqqD30xDlvu545xy22xF1qxXdTGctF0t2pgY/117/image.jpg");
}

.status-property {
  position: absolute;
}

.color-text-galery {
  color: white;
  text-shadow: .07rem .07rem black;
}

.property-galery {
  @extend .color-text-galery;
  font-size: 1rem;
  font-weight: 500;
}

.address-galery {
  @extend .color-text-galery;
  font-size: 1.5rem;
  font-weight: 500;
}

.price-galery {
  @extend .color-text-galery;
  color: #28a745 !important;
}

.carousel-indicators {
  margin-left: 5% !important;
  margin-right: 5% !important;
}