.container-relative {
  position: relative !important;
}

.container-absolute {
  position: absolute !important;
  top: 80%;
  left: 2.5%;
  bottom: 0;
  right: 0;
}

.style-text {
  color: white;
  text-shadow: .055rem .055rem black;
  font-size: 1.2rem;
  font-weight: bold;
}

.operation-text {
  @extend .style-text;
}

.street-text {
  @extend .style-text;
  font-size: 1.5rem;
}

.state-text {
  @extend .style-text;
}

.price-text {
  text-shadow: .055rem .055rem black;
}