.banners-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

#image-div {
  width: 100%;
  padding-top: 20%;
  position: relative;
}

.image-container {
  @extend .banners-div;
  background-image: url("https://media.wiggot.pro/iHrlsxB-l.jpg");
  background-size: cover;
  background-position: center;
}

.new-text {
  color: white;
  text-align: center;
}

.green-container {
  position: absolute;
  top: 11.2rem;
  width: 45%;
  background: linear-gradient(90deg, rgba(69,197,4,1) 21%, rgba(56,135,15,1) 49%, rgba(58,101,19,1) 80%,
              rgba(72,121,27,1) 91%, rgba(133,152,113,0.3835797136237308) 100%);
}

.price-style {
  color: #28a745;
}

.circle-size {
  font-size: .5rem;
  color: #8f232b;
}

.view-button {
  border-radius: 0 !important;
}

.description-text {
  overflow: hidden;
}

@media (max-width: 768px) {
  .green-container {
    top: 15.5rem;
  }
}